section#testimonials

	h2 Vos commentaires

	mixin review(item)
		blockquote(cite="#{item.src}")
			a(href="#{item.src}", target="_blank")
				p #{item.citation}
				cite #{item.author}
				time #{item.time}

	each item in Reviews
		+review(item)


	.center-btn
		button#testimonialsBtn(type="button") Voir les commentaires plus anciens
	.center-btn
		button#testimonialsBtn(type="button", data-open="modal") Laisser un commentaire

	#modal.reveal(data-reveal)
		button.close-button(data-close, aria-label="close modal", type="button")
			span(aria-hidden="true") &times;
		form(action="https://formspree.io/tom.mazo.tm@gmail.com", method="post")
			label Votre nom
				input(type="text", name="testimonials")
			label Votre commentaire
				textarea(name="testimonial", rows="4")
			button(type="submit") Envoyer


	