

doctype html
html.no-js(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Gite et Couvert chez Dimanche
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Pacifico')
    link(rel='stylesheet', href='css/jquery-ui.min.css')
    link(rel='stylesheet', href='css/app.css')
    include helper/mixins

  body
    include partials/header

    main

      include partials/accommodation

      section#pricing
        h2 Tarifs
        +pricing

      section#google-map
        h2 Plan
        include partials/googleMap

      section#testimonials
        h2 Vos commentaires
        each item in Reviews
          +review(item)
        +btn-center(
          "testimonialsBtn",
          "Voir les commentaires plus anciens")
        +btn-center(
          "testimonialsBtn",
          "Laisser un commentaire")
        include partials/testimonials

      section#about
        h2 À propos
        div.pic-joelle
          img(src="img/joelle.jpg", alt="")
        div.text-box
          - var paragraphs = about["paragraphs"];
          each item in paragraphs
            p=item
      
    footer#contact
      address
        ul
          li!=Contact.post_address
          li=Contact.mob_phone
          li=Contact.landline
          li=Contact.email
      include partials/social_media_icons


    // build:js js/bundle.js
    script(src='../bower_components/jquery/dist/jquery.min.js')
    script(src='../bower_components/jquery-ui/jquery-ui.min.js')
    script(src='../bower_components/foundation-sites/dist/foundation.min.js')
    script(src='../js/modules/admin-input.js')
    script(src='../js/app.js')
    // endbuild
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDEds1gCBcG31dnUyP2O0hkwhbUVQ78BvA&callback=initMap', async, defer)