<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gite et Couvert chez Dimanche</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    
    
    <header>
      <nav class="Nav">
        <div id="menu-toggle">menu</div>
        <ul>
          {{#each Navigation}}
          <li>
            <a href="#{{id}}">{{text}}</a>
          </li>
          {{/each}}
        </ul>
      </nav>      
      
      <h1 class="Main_Header">
        <span class="brand-name">{{{Header.title}}}</span>
        <span class="slogan">{{{Header.subtitle}}}</span>
      </h1>
    </header>
    


    <main>

      <section id="accommodation">
        <h2>Le Gite</h2>
        
        <h3>L'essentiel</h3>

        <dl class="Essential">
          {{#each Essential}}
            <dt>{{@key}}</dt>
            <dd>{{this}}</dd>
          {{/each}}
        </dl>
        
        
        <!-- Galerie photos -->
        <h3>Galerie photos</h3>
        <div class="img-container">
          <img class="lightbox-open" src="img/jardin1_HEADER.jpg" alt="Jardin privatif">
        </div>
        
        <div class="center-btn">
          <button class="lightbox-open">Voir les photos</button>
        </div>

        <div id="lightbox">
          
          <div id="fig-container">
            <figure>
              <img src="img/facade_BIG.jpg" alt="facade du gite">
              <figcaption>Facade du gite</figcaption>
            </figure>
            <button class="arrow-prev">&lt;</button>
            <button class="arrow-next">&gt;</button>
          </div>
          
          <div class="close-btn">&times;</div>
        </div>
        
        
        <h3>Description</h3>
        <p>
          Meublé de tourisme classé 3 ***, tout juste rénové, le gite occupe le RDC d'une ancienne ferme dans le vieux Essert. L’entrée est indépendante.<br>
          Il convient au <strong>tourisme</strong> comme au <strong>déplacement professionnel</strong>.
        </p>

        {{#each Description}}
          <h4>{{{headline}}}</h4>
          <div class="description toggle">
            {{#each this.text}}
              {{#ifCond type '==' 'p'}}
                <p>{{{content}}}</p>
              {{/ifCond}}
              {{#ifCond type '==' 'ul'}}
                <ul>
                  {{#each this.content}}
                    <li>{{{this}}}</li>
                  {{/each}}
                </ul>
              {{/ifCond}}
            {{/each}}
          </div>
        {{/each}}

      </section>
      


      <section id="pricing">
        <h2>Tarifs</h2>
        <table class="Pricing">
        {{#each Pricing}}
          <tr>
            <td>{{{@key}}}</td>
            <td>{{{this}}}</td>
          </tr>
        {{/each}}
        </table>
        <!-- <div id="jquery-datepicker"></div> -->
      </section>
      


      <section id="google-map">
        <h2>Plan</h2>

        <div id="map"></div>

        <div class="Legend">
          <p>Légende</p>
          {{#each Map}}
            <label>
              {{{label}}}
              <input type="checkbox" id="{{{id}}}" class="checkbox">
            </label>
          {{/each}}
        </div>

      </section>
      


      <section id="testimonials">
        <h2>Vos commentaires</h2>
        
        {{#each Reviews}}
          <blockquote cite="{{{src}}}">
            <a href="{{{src}}}" target="_blank">
              <p>{{{citation}}}</p>
              <cite>{{{author}}}, </cite>
              <time>{{{time}}}</time>
            </a>
          </blockquote>
        {{/each}}

        <div class="center-btn">
          <button type="button" id="testimonialsBtn">Voir les commentaires plus anciens</button>
        </div>

      </section>
      


      <section id="about">
        <h2>À propos</h2>

        <div class="pic-joelle">
          <img src="img/joelle.jpg">
        </div>

        <div class="text-box">
          {{#each About.paragraphs}}
            <p>{{{this}}}</p>
          {{/each}}
        </div>

      </section>
    </main>
    
    <footer id="contact">
      <address class="Address">
        <ul>
          {{#each Contact}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
      </address>
        <ul class="social-media-icons">
          <li>
            <a href="https://www.facebook.com/ChezDimanche/" target="_blank"><img src="img/social-1_logo-facebook.svg" alt="Facebook icon"></a>
          </li>
          <li>
            <a href="https://plus.google.com/103795538890436895710/about" target="_blank"><img src="img/social-1_logo-google-plus.svg" alt="Google + icon"></a>
          </li>
          <li>
            <a href="https://www.instagram.com/gite_chez_dimanche90/" target="_blank"><img src="img/social-1_logo-instagram.svg" alt="Instagram icon"></a>
          </li>
        </ul>
    </footer>
    
    <!-- build:js js/bundle.js -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="bower_components/what-input/what-input.min.js"></script>
    <script src="bower_components/foundation-sites/dist/foundation.min.js"></script>
    <script src="js/modules/admin-input.js"></script>
    <script src="js/app.js"></script>
    <!-- endbuild -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEds1gCBcG31dnUyP2O0hkwhbUVQ78BvA&callback=initMap"
    async defer></script>
  </body>
</html>
